<h1>Code Template</h1>

<h3>
  Your Language: <%= @language%>
</h3>

<hr />

<h3>
  Your Experience With <%= @language %> is: <%= @experience %>
</h3>

<a href="/people?name=Jace">Link To Jace</a>
<a href="/people?name=Alec">Link To Alec</a>
<a href="/people?name=Travis">Link To Travis</a>
<!-- Use these to add Ruby to HTML -->
<!-- Non echoing tag -->
<!--Condition statements
Loops
Variable setting -->
<!-- <% %> -->

<!-- echoing tag -->
<!-- Display variable values -->
<!-- <%= %> -->