<h1>Input Some Text</h1>
<hr />

<% if @secret %>
  <h3> The Secret Code is: <%= @secret %>
<% end %>

<form method="POST" action="/secret">
  <input type="text" required name="secret" />
  <input type="password" name="password"g>
  <span class="center">
    <input type="submit" class="btn btn-large red">
  </span>
</form>